<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/c143000470.js"
        integrity="sha384-IJaB7Ok396Vj8u9hotS7IJpDbI4MdHJ/WaoGDRxrr+UObhYk6JwAbI/HAfPPBrWH"
        crossorigin="anonymous"></script>
    <title>show table</title>
</head>

<body>
    <h1>show table</h1>

    <a class="newPersonButton" href="{{ url_for('newPerson') }}">create a new person</a>
    <table id="persons">
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>salary</th>
            </tr>
        </thead>
        <tbody>
            {% if personList %}
            {% for person in personList %}
            <tr>
                <td>{{ person["name"] }}</td>
                <td>{{ person["age"] }}</td>
                <td>{{ person["salary"] }}</td>
                <td><i class="fas fa-search"></i> <i class="fas fa-pen"></i> <i class="fas fa-trash"></i></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">no person data</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</body>

</html>